.About {
    display: flex;
    justify-content: space-between; /* מפזר את שני הצדדים */
    // height: 100vh; /* גובה מלא של המסך */
    height: 420px;
  
    .right {
      width: 50%; /* חצי מסך */
      display: flex;
      justify-content: flex-end; /* מכניס את התוכן בצד ימין */
    //   padding: 20px; /* מרווח פנימי */
      box-sizing: border-box; /* כולל את ה-padding בחישוב ה-width */
    }
  
    .left {
        padding: 10px;
        padding-right: 45px;
      width: 50%; /* חצי מסך */
      box-sizing: border-box; /* כולל את ה-padding בחישוב ה-width */
    justify-content: flex-end; /* מכניס את התוכן בצד ימין */
    p{
        text-align: right;
        font-weight: bold;
        font-size: large;

    }
    h1{
        text-align: center;
        font-weight: bold;
        font-size: xx-large;
    }

    }
  }
  