body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .MainHomePage {
    text-align: center;
  }
  
  .mainFont {
    font-size: 44px;
    font-weight: bold;
    margin-top: 0px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end; /* מיקום הכפתורים בצד ימין */
    // width: 100%;
    margin-top: 20px;
    padding-right: 30px;
  }
  
  .button {
    // width: 50px; /* הגדרת רוחב כדי להפוך את הכפתור לעגול */
    height: 50px; /* הגדרת גובה כדי להפוך את הכפתור לעגול */
    background-color: gold;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; /* מרווח בין הכפתורים */
    padding: 7px;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: rgba(255, 217, 0, 0.562);
  }
  
  
  .categoryPicture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    background-color: rgba(184, 187, 187, 0.473);

  }
  
  .item {
    position: relative;
    width: calc(25% - 20px);
    height: 250px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.128);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .item:hover {
    transform: translateY(-5px);
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .category-title {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
   background-color: black;
    padding: 10px 0;
    margin: -11px;
  }
  